* 
    margin: 0
    padding: 0 

$mobile: 600px
$tablet: 800px
$desktop: 1200px

=desktop
  @media screen and (min-width: $desktop)
    @content

=tablet
   @media screen and (min-width: $tablet) and (max-width: $desktop - 1px)
    @content

=mobile
  @media screen and (max-width: $tablet - 1px)

    @content
.contacts-page 
    color: hsl(0,0%,75%)
    background-color: #2a2c2d
    width: 100vw
    height: 100vh
    &__wrapper 
        width: 1200px
        margin: 0 auto
        display: flex
        justify-content: space-between
    +mobile
        display: flex
        flex-direction: column
        justify-content: space-between

